
// text colors
$white : #FFFFFF;
$fuscous-gray : #56534C;
$fuscous-grayRGBA : rgba(86,83,76,0.53);
$barley-corn : #A47D5E;
$laser : #C9B176;
$calico : #DFC691;
$natural-gray : #979285;
$earls-green : #C8A539;
$cotton-seed : #C2BEBA;
$dawn: #9E9C93;
// backgrounds
$spring-wood : #F3F1E9;
$bright-gray: #383b4a;
// border
$border: #d7d5ca;
$arrow: #d8bba3;
$footer-border: #c2beba;

$breakpoints: (xs: 480px, sm: 768px, md:992px, lg: 1260px, xlg: 1300px);
